In [2]:
import pandas as pd

### Loading Data From a CSV File

In [4]:
df = pd.read_csv("data\sol_1d_data_2020_to_2025.csv")

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\91827\AppData\Local\Temp\ipykernel_17340\2997545865.py:1: SyntaxWarning: invalid escape sequence '\s'
  df = pd.read_csv("data\sol_1d_data_2020_to_2025.csv")

In [5]:
df.head()

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,2020-08-11 00:00:00.000000,2.8500,3.5208,2.8433,3.2985,1552384.78,2020-08-11 23:59:59.999000,4.939149e+06,13490,741770.79,2.370193e+06,0
1,2020-08-12 00:00:00.000000,3.2985,3.9289,3.0800,3.7558,1737042.95,2020-08-12 23:59:59.999000,6.176154e+06,21118,889133.50,3.161944e+06,0
2,2020-08-13 00:00:00.000000,3.7500,4.1387,3.5003,3.7300,1685759.24,2020-08-13 23:59:59.999000,6.446568e+06,22922,716358.46,2.755765e+06,0
3,2020-08-14 00:00:00.000000,3.7207,3.7676,3.3210,3.4099,1474161.79,2020-08-14 23:59:59.999000,5.205834e+06,18581,578651.84,2.048897e+06,0
4,2020-08-15 00:00:00.000000,3.4181,3.7400,3.1500,3.1730,1070233.20,2020-08-15 23:59:59.999000,3.658006e+06,13903,439623.97,1.510473e+06,0

In [6]:
df.columns

Index(['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time',
       'Quote asset volume', 'Number of trades', 'Taker buy base asset volume',
       'Taker buy quote asset volume', 'Ignore'],
      dtype='str')

In [9]:
df.info()
df.shape

<class 'pandas.DataFrame'>
RangeIndex: 2020 entries, 0 to 2019
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Open time                     2020 non-null   str
 1   Open                          2020 non-null   float64
 2   High                          2020 non-null   float64
 3   Low                           2020 non-null   float64
 4   Close                         2020 non-null   float64
 5   Volume                        2020 non-null   float64
 6   Close time                    2020 non-null   str
 7   Quote asset volume            2020 non-null   float64
 8   Number of trades              2020 non-null   int64
 9   Taker buy base asset volume   2020 non-null   float64
 10  Taker buy quote asset volume  2020 non-null   float64
 11  Ignore                        2020 non-null   int64
dtypes: float64(8), int64(2), str(2)
memory usage: 189.5 KB

(2020, 12)

#done